<div class="partial-wrapper">
    <h1> Fans & Idols </h1>

    <div class="index-container">
        <%# LIST USERS %>
        <% @users.each do |item| %>
            <%= render 'index_item', :item => item %>
        <% end %>
    </div>
</div>
