/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

a {
  color: rgba(6, 214, 160, 1);
}

a:hover {
  color: rgba(6, 214, 160, 1);
}

img.avatar {
  width:50px;
  height:50px;
  border-radius: 50%;
}

.author {
  /* font-weight: bold; */
  font-size: 1.5em;
  vertical-align: middle;
}

.avatar-big {
  width:150px;
  height:150px;
  border-radius: 50%;
}


.btn-group {
  display: inline-block;
}

.btn .btn-primary {
  display: inline;
}

.caption {
  font-style: italic;
}

.comment-box {
  width: 540px;
}

.edit-link {
  color: #0275d8;
}

.error_message {
  color: red;
}

.index-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: left;
}

.index-img {
  width:150px;
  height:150px;
  border-radius: 50%;
}

.index-item {
  max-width: 180px;
  border-radius: 25px;
  padding: 10px;
  text-align: center;
}

.likes {
  display: inline;
  font-weight: bold;
}

.likes-row {}

.no-menu-wrapper {
  padding-left: 15px;
  max-width: 540px;
  color:  rgba(248, 255, 229, 1);
}

.partial-wrapper {
  max-width: 540px;
}

.photo {
  /* background-color: rgba(255, 0, 0, .1); */
  max-height: 540px;
}

.photo-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-profile-header {
  padding-bottom: 5px;
  color: rgba(6, 214, 160, 1);
  font-size: 2em;
}

#main-nav {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  
  background-color: rgba(55, 57, 46, 1);
  color: rgba(248, 255, 229, 1);
  margin-left: 0px;
  position: fixed;
  width: 100%;
}

#main-nav a {
  color: rgba(248, 255, 229, 1);
}

#content {
  margin-left: 30px;
  margin-right: 30px;

  padding-block-start: 50px;
}

#no-menu-content {
  padding-block-start: 50px;
  background: url(https://pixel.nymag.com/imgs/fashion/daily/2013/03/05/05-calvin-klein-dark-obsession-ad.w710.h473.2x.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  
  
}
